.nolist{
    position: center;
    display: inline-block;
}

ul.margintop {
    display: flex;
    justify-content: center;
    list-style: none;
  }

 body {
   background-image: url(imagenes/fondo.png);
   background-size: cover;
}

.clase1{
    position: relative;
    z-index: 9999;
    font-family: Times New Roman;
    font-weight: bold;
    font-size: 2em;
    background-color: rgb(88, 3, 88, 0.5);
    color:black;
    background-color: rgb(238, 124, 238, 0.7);
    margin-left: 30px;
    border-radius: 20px;
    text-decoration: none;
    padding: 5px;
}     

.clase1:hover {
  background-color: black;
  color: rgb(238, 124, 238, 0.7);
}


.estoy{
    font-family: Times New Roman;
    font-weight: bold;
    font-size: 2em;
    background-color: black;
    color: rgb(238, 124, 238);
    text-emphasis-color: black;
    margin-left: 30px;
    border-radius: 20px;
    text-decoration: none;
    padding: 5px;
}

@media screen and (max-width: 600px) {
    .clase1 {
      display: block;
      width: 100%;
    }
}

.fondo{
    background-color: #523248;
}

.titulo{
    background-color: rgba(0, 0, 0, 0.8);
    font-family: Times New Roman;
    font-weight: bold;
    font-size: 3em;
    color:#f4c2c2;
    height: 53px;
    width: 500px;
    border: dotted #bb6f91  2px;
    padding: 10px;
    margin:auto;
    text-align: center;
}

.texto{
    font-size: 1.6em;
    color:pink;
}

.imag{
    display: block;
    margin:auto;
    text-align: center;
    margin-top: 5px;
}

.redes-sociales {
    display: flex;
    align-items: center;
  }
  
  .redes-sociales img {
    margin-right: 10px;
    margin-top: 4px;
  }
  

.contenedor-lista{
    color: pink;
    text-shadow: -1px 0 10px black;
    font-family: Times New Roman;
    font-weight: bold;
    margin-top: -38px;
    float: left;
    margin-left: 2% ;
    font-size: 1.6em;
    text-align: left;
}

.contenedor-info{
    width: auto;
    height: auto;
    margin-right: auto;
    margin-left: auto;
    margin-top: -14px;
    display: inline-block;
    font-size: 1.3em;
    color: pink;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.8);
    border-radius: 15px;
    border: 4px solid #bb6f91;
}

.mi-lista {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    list-style: none;
    padding: 0;
  }
.mi-lista li {
    margin: 10px 2px;
  }

html {
  padding: 0;
}

body {
  margin: 0;
}

footer {
  margin-top: 90px;
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 40px;
  background-color: rgba(0, 0, 0, 0.8);
  display: flex;
  align-items: center;
  justify-content: center;
}

.lefted-text, .centered-text {
  font-size: 3vw;
  color: #fff;
  margin: 0 10px;
}

@media (max-width: 768px) {
  footer {
    height: auto;
    flex-direction: column;
    text-align: center;
  }
  .lefted-text {
    margin-bottom: 10px;
  }
}


.lefted-text{
  margin-left: 30px;
  color: rgb(221, 70, 221);
  font-size: 15px;
  font-weight: bold;
}
.centered-text {
  margin-left: 30px;
  color: rgb(238, 124, 238);
  font-size: 30px;
  font-weight: bold;
}
  
  
  
  